<div class="header">
  <h1>My Projects</h1>
  <h3>This is a list of my private projects. Open source projects are available at <a href="https://github.com/wms2537/">my github repo</a>.</h3>
  <h3>My achievements can be found <a href="/achievements">here</a></h3>
</div>


<div class="content">
  <br>
  <hr>
  <div class="card">
    <h2>Beautifood Ecosystem (JomLuz)</h2>
    <ul>
      <li>A continuition of Beautifood V1.</li>
      <li>A decentralised ecosystem for F&B merchants.</li>
      <li>Intelligence at the merchant's end.</li>
      <li>Digital receipt and accounting.</li>
      <li>Interchangeable loyalty points and membership system.</li>
      <li><a href="https://www.beautifood.io/#/comming-soon">Visit our webpage</a></li>
    </ul>
    <h4>June 2023 - current</h4>
    <iframe src="https://pitch.com/public/714ab5ba-b821-4838-a1f9-9f7a80827644" frameborder="0" width="960" height="569"></iframe>
  </div>
  <br>
  <hr>
  <div class="card">
    <h2>Beautifood V1 (JomLuz)</h2>
    <ul>
      <li>A system to digitalise restaurants.</li>
      <li>QR code ordering.</li>
      <li>Integrated POS system.</li>
      <li>Group Order Sessions.</li>
      <li>Piloting in restaurants.</li>
      <li><a href="https://app.beautifood.io">https://app.beautifood.io</a></li>
    </ul>
    <h4>June 2022 - current</h4>
    <div class="images">
      <nz-carousel nzDotPosition="top">
        <div nz-carousel-content *ngFor="let index of beautifood">
          <img *ngIf="index.type === mediaType.Image" [src]="index.url" alt="">
          <video *ngIf="index.type === mediaType.Video" controls muted>
            <source [src]="index.url" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </nz-carousel>
    </div>
  </div>
  <br>
  <hr>
  <div class="card">
    <h2>JomFi (JomLuz)</h2>
    <ul>
      <li>A personal finance management app.</li>
      <li>Record your transactions.</li>
      <li>Create budgets.</li>
      <li>Finance Utilities.</li>
      <li>Share your journal with friends.</li>
      <li><a href="https://jomfi.jomluz.com">https://jomfi.jomluz.com</a></li>
    </ul>
    <h4>June 2022 - current</h4>
    <iframe
      src="https://docs.google.com/presentation/d/e/2PACX-1vS6nYRqdfpNyPqrfQpb1373aJjKYG6IRetvo9gzKxnMS8h1b0hFnncTlBy-FWhX_B4-53gQA4R6V-YU/embed?start=false&loop=true&delayms=3000"
      frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true"
      webkitallowfullscreen="true"></iframe>
  </div>
  <br>
  <hr>
  <div class="card">
    <h2>CHKL APP V2</h2>
    <ul>
      <li>Mobile and Web APP developed Chong Hwa Independent High School Kuala Lumpur.</li>
      <li>Upgraded version of CHKL APP V1.</li>
      <li>Improved UI/UX.</li>
      <li>More features added, such as physical class attendance taking, official leave application, and much more.</li>
      <li>Makes collaboration between departments easier and more efficient.</li>
      <li>Due to some circumstances, the school decided to return to the old way to take attendance until a new system is built by the school IT Team to replace this.</li>
    </ul>
    <h4>Jan 2022 - July 2022</h4>
    <div class="images">
      <nz-carousel nzDotPosition="top">
        <div nz-carousel-content *ngFor="let index of chklApp2">
          <img *ngIf="index.type === mediaType.Image" [src]="index.url" alt="">
          <video *ngIf="index.type === mediaType.Video" controls muted>
            <source [src]="index.url" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </nz-carousel>
    </div>
  </div>
  <br>
  <hr>
  <div class="card">
    <h2>CHKL APP V1</h2>
    <ul>
      <li>Mobile and Web APP developed voluntarily for Chong Hwa Independent High School Kuala Lumpur.</li>
      <li>Upgraded version of CHKL Zoom Attendance.</li>
      <li>Attendance taking for online classes.</li>
      <li>Online application of students'leave based on missed lessons.</li>
      <li>Online verificatiopn of students leave and monitoring of students attendance.</li>
      <li>Recording of students' merit-demerits.</li>
      <li>Parents can check their child's attendance with the system.</li>
      <li>Attendance taking with "Attendance Code" during seminars, talks and online assembly.</li>
      <li>Still adding more features to digitalise tasks in the school.</li>
    </ul>
    <h4>Jan 2021 - Dec 2021</h4>
    <div class="images">
      <nz-carousel nzDotPosition="top">
        <div nz-carousel-content *ngFor="let index of chklApp">
          <img *ngIf="index.type === mediaType.Image" [src]="index.url" alt="">
          <video *ngIf="index.type === mediaType.Video" controls muted>
            <source [src]="index.url" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </nz-carousel>
    </div>
  </div>
  <br>
  <hr>
  <div class="card">
    <h2>Face Recognition Visitor Management Access Control System</h2>
    <ul>
      <li>Distributed AI Face Recognition access control system for residents, hotels, or offices.</li>
      <li>Related Projects:
        <ul>
          <li><a href="https://github.com/wms2537/esp32cam-websockets-stream">esp32cam-websockets-stream</a></li>
          <li><a href="https://github.com/wms2537/esp32s2-camera">ESP32S2 Camera</a></li>
        </ul>
      </li>
      <li>Winner of APICTA Awards 2020</li>
      <li>Winner of MyDigitalMaker Teen Tech Prize 2020</li>
      <li>Special thanks to Toh Li Yuan for the help.</li>
    </ul>
    <h4>March 2020 - Current</h4>
    <div class="images">
      <nz-carousel nzDotPosition="top">
        <div nz-carousel-content *ngFor="let index of frvmacs">
          <img *ngIf="index.type === mediaType.Image" [src]="index.url" alt="">
          <video *ngIf="index.type === mediaType.Video" controls muted>
            <source [src]="index.url" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </nz-carousel>
    </div>
  </div>
  <br>
  <hr>
  <div class="card">
    <h2>WM Scanner</h2>
    <ul>
      <li>A simple document scanner app</li>
      <li>Available in <a href="https://apps.apple.com/my/app/wm-scanner/id1549155551">App Store</a> and <a href="https://play.google.com/store/apps/details?id=com.wmtech.wmscanner">Google play store</a> </li>
    </ul>
    <h4>Jan 2021</h4>
    <div class="images">
      <nz-carousel nzDotPosition="top" nzAutoPlay>
        <div nz-carousel-content *ngFor="let index of wmscanner">
          <img *ngIf="index.type === mediaType.Image" [src]="index.url" alt="">
          <video *ngIf="index.type === mediaType.Video" controls muted>
            <source [src]="index.url" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </nz-carousel>
    </div>
  </div>
  <br>
  <hr>
  <div class="card">
    <h2>CHKL Zoom Attendance</h2>
    <ul>
      <li>Designed for CHKL for online attendance taking from zoom chat during COVID-19 MCO period.</li>
      <li>Quick and efficient way to take attendance on zoom online classes when there are a lot of students.</li>
    </ul>
    <h4>June 2020 - December 2020</h4>
    <div class="images">
      <nz-carousel nzDotPosition="top">
        <div nz-carousel-content *ngFor="let index of chklZoomAttendance">
          <img *ngIf="index.type === mediaType.Image" [src]="index.url" alt="">
          <video *ngIf="index.type === mediaType.Video" controls muted>
            <source [src]="index.url" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </nz-carousel>
    </div>
  </div>
  <br>
  <hr>
  <div class="card">
    <h2>Driver Drowsiness Detection System</h2>
    <ul>
      <li>A device in vehicles to alert drowsy drivers</li>
      <li>A monitoring mobile app</li>
      <li>APICTA National Awards 2019 Merit</li>
      <li>APICTA International Awards 2019 Merit</li>
      <li>KLESF 2019 Bronze award</li>
      <li>Young Founders Summit 2019 semi-finals</li>
    </ul>
    <h4>June 2019 - Dec 2019</h4>
    <div class="images">
      <nz-carousel nzDotPosition="top">
        <div nz-carousel-content *ngFor="let index of ddds">
          <img *ngIf="index.type === mediaType.Image" [src]="index.url" alt="">
          <video *ngIf="index.type === mediaType.Video" controls muted>
            <source [src]="index.url" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </nz-carousel>
    </div>
  </div>
  <br>
  <hr>
  <div class="card">
    <h2>Dolphins Detection System</h2>
    <ul>
      <li>An app to detect and crop dolphins to study them.</li>
      <li>Dolphins can be identified by the pattern on their dorsal fins.</li>
      <li>Designed for <a href="http://marecet.org/">MareCet</a></li>
      <li>3rd place in the ACCCIM STI competition 2019</li>
    </ul>
    <h4>June 2019 - Dec 2019</h4>
    <div class="images">
      <nz-carousel nzDotPosition="top">
        <div nz-carousel-content *ngFor="let index of dds">
          <img *ngIf="index.type === mediaType.Image" [src]="index.url" alt="">
          <video *ngIf="index.type === mediaType.Video" controls muted>
            <source [src]="index.url" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </nz-carousel>
    </div>
  </div>
  <br>
  <hr>
  <div class="card">
    <h2>SPARTA App</h2>
    <ul>
      <li>Urban argricutulture app with instructions and social media to share own plants.</li>
      <li>Semi-finals of the Digital Ninja Competition organised by Malaysia Digital Economy Coperation(MDEC)</li>
    </ul>
    <h4>July 2019 - September 2019</h4>
    <div class="images">
      <nz-carousel nzDotPosition="top">
        <div nz-carousel-content *ngFor="let index of sparta">
          <img *ngIf="index.type === mediaType.Image" [src]="index.url" alt="">
          <video *ngIf="index.type === mediaType.Video" controls muted>
            <source [src]="index.url" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </nz-carousel>
    </div>
  </div>
  <br>
  <hr>
  <div class="card">
    <h2>RGB LED Cube</h2>
    <ul>
      <li>16*16*16 RGB LED Cube with a GUI to design patterns https://led-cube.firebaseapp.com</li>
      <li>Designed for the opening ceremony of the 15th National Independent Schools Science Camp 第十五届全国独中科学营</li>
    </ul>
    <h4>May 2019 - Jun 2019</h4>
    <div class="images">
      <nz-carousel nzDotPosition="top">
        <div nz-carousel-content *ngFor="let index of ledCube">
          <img *ngIf="index.type === mediaType.Image" [src]="index.url" alt="">
          <video *ngIf="index.type === mediaType.Video" controls muted>
            <source [src]="index.url" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </nz-carousel>
    </div>
  </div>
  <br>
  <hr>
  <div class="card">
    <h2>Face Recognition Identification System</h2>
    <ul>
      <li>A Face Recogniiton Attendance System</li>
      <li>Young Innovators Challenge 2018 silver medal</li>
      <li>KLESF 2018 Bronze Medal</li>
      <li>Invited to Ricoh Empowering Digital Workplaces Exhibition</li>
      <li>Invited to Wild Digital Conference 2019</li>
    </ul>
    <h4>June 2018 - Dec 2019</h4>
    <div class="images">
      <nz-carousel nzDotPosition="top">
        <div nz-carousel-content *ngFor="let index of fris">
          <img *ngIf="index.type === mediaType.Image" [src]="index.url" alt="">
          <video *ngIf="index.type === mediaType.Video" controls muted>
            <source [src]="index.url" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </nz-carousel>
    </div>
  </div>
  <br>
  <hr>
  <div class="card">
    <h2>LED Badges</h2>
    <ul>
      <li>DIY LED Badges to sell at school charity sale.</li>
      <li>Sold 250 badges in 3 hours.</li>
    </ul>
    <h4>Dec 2017 - May 2018</h4>
    <div class="images">
      <nz-carousel nzDotPosition="top">
        <div nz-carousel-content *ngFor="let index of ledBadges">
          <img *ngIf="index.type === mediaType.Image" [src]="index.url" alt="">
          <video *ngIf="index.type === mediaType.Video" controls muted>
            <source [src]="index.url" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </nz-carousel>
    </div>
  </div>
</div>