[nz-carousel-content] {
  text-align: center;
  height: 600px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

video {
  height: 100%;
  margin: auto;
}

img {
  height: 600px;
  margin: auto;
}